body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: skyblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.kontrol {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.kontrol button {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    color: white;
    border: none;
    padding: 10px;
    font-size: 2rem;
    transition: .2s;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontrol #basla {
    background: dodgerblue;
}

.kontrol button#dukkan {
    background: limegreen;
}

.kontrol button#sifirla {
    background: red;
}

.kontrol button#yapimcilar {
    background: gold;
}

.kontrol button:hover {
    scale: 1.05;
}

.kontrol button:not(:active) {
    box-shadow: 5px 5px 0 rgb(0, 0, 0);
}

.kontrol button:active {
    position: relative;
    left: 5px;
    top: 5px;
    box-shadow: none;
}

img.logo {
    scale: 4;
    margin-top: 2rem
}

.yapimcilar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 20rem;
    display: flex;
    scale: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: white;
    padding: 3rem;
    border-radius: 10px;
    z-index: -6;
    transition: .3s;
}

.yapimcilar .kapat {
    font-size: 1.5rem;
    position: fixed;
    right: 5%;
    top: 5%;
}

.yapimcilar .kapat:hover {
    color: gray;
}

.yapimcilar .kutu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 3px solid dodgerblue;
    border-radius: 5px;
    color: dodgerblue;
    padding: 1rem;
    transition: .2s;
    width: 80%;
}

.yapimcilar .kutu:hover {
    scale: 1.03;
    color: white;
    background: dodgerblue;
}

.yapimcilar .kutu img {
    height: 4rem;
    width: 4rem;
    border: 2px solid white;
    border-radius: 50%;
    object-fit: cover;
}

.yapimcilar .kutu .bilgi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.yapimcilar i.fab {
    cursor: pointer;
}

.yapimcilar .mesaj {
    color: dodgerblue;
    margin-bottom: 1rem;
}

.perde {
    opacity: 0;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
    transition: .3s;
}